html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0%;
  background: #416fa5;
  display: flex; 
  flex-direction: column;
  flex-grow: 1;
  justify-content:center 
}

.card {
  background-color: #333;
  border-radius: 50px;
  padding: 30px;
  margin: 8%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.cardTitle {
  color: #f9f9f9;
  font-size: xx-large;
  font-weight: bold;
  margin-bottom: 5px;
  padding-left: 15px;
}

.cardContent {
  color: #f9f9f9;
  font-size: large;
  line-height: 1.6;
  text-align: justify;
  padding: 0 1em;
  display: flex;
  padding-left: 20px;
}

.headerWithImage, .header{
  display: flex;
  align-items: center;
}

.textContent {
  flex-grow: 1;
  text-align: justify;
  padding: 0 1em;
}

.cardPhoto {
  flex: 0 0 auto;
  margin-right: 50px;
}

.cardPhoto img {
  max-width: 100%;
  max-height: 200px;
  margin-top: 50px;
  clip-path: circle();
}

.iconList li {
  display: inline;
  float: left;
}

.iconList img {
  max-width: 100%;
  max-height: 200px;
  padding: 5px;
  clip-path: circle();
}